/* FeaturesSection.module.css */

.featuresSection {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 130px auto;
}

.sectionTitle {
  font: var(--font-semi-bold-36);
  letter-spacing: 0.72px;
  white-space: nowrap;
}

.featuresContent {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
}

.featuresText {
  font: var(--font-semi-medium-24);
  letter-spacing: 0.48px;
}

.featureList {
  font: var(--font-regular-20);
  letter-spacing: 0.4px;
  list-style-type: disc;
  padding-left: 100px;
}
.featureList li {
  margin-bottom: 30px;
}
.featuresContentFlex {
  display: flex;
  align-items: center;
}

.featureIcon {
  margin: 20px;
}

@media (max-width: 1244px) {
  .sectionTitle {
    font-weight: 600;
    font-size: 28px;
    line-height: 145%;
    letter-spacing: 0.02em;
  }

  .featuresContentFlex {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .featuresSection {
    margin: 100px auto;
  }

  .featuresContentFlex p {
    font: var(--font-semi-medium-20);
    letter-spacing: 0.02em;
  }
  .featureList li {
    font: var(--font-regular-16);
    letter-spacing: 0.02em;
    width: 452px;
  }

  .featureList {
    padding-left: 0;
  }
  .featuresImg {
    width: 195px;
    height: 290px;
  }
}
@media (max-width: 768px) {
  .featuresContent {
    display: block;
    margin: auto;
  }

  .featuresImg {
    margin: auto;
    width: 173px;
    height: 250px;
  }

  .sectionTitle {
    font: var(--font-semi-bold-18);
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    white-space: normal;
  }
  .featureList li {
    font: var(--font-regular-14);
    letter-spacing: 0.02em;
    width: 100%;
  }

}
