.faqContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: var(--section-margin-b);
}

.questionGrid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  row-gap: 24px;
  column-gap: 32px;
}

.questionContainer {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  border: 1px solid var(--dark-plum);
  background: var(--light-lavender);
}

.questionText {
  width: 580px;
  padding: 30px;
  color: var(--dark-plum);
  font: var(--font-semi-medium-24);
  letter-spacing: 0.48px;
}

.plusIcon {
  margin-right: 30px;
}