.testimonialsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--section-margin-b);
}

.testimonialsContainerTitle {
  margin-bottom: 16px;
  color: var(--dark-plum);
  font: var(--font-semi-bold-28);
  letter-spacing: 0.56px;
}

.testimonialsContainerSubtitleTitle {
  color: var(--dark-plum);
  font: var(--font-regular-20);
  letter-spacing: 0.4px;
}

.testimonialContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 60px;
}

.testimonialContainer:last-child {
  margin: 0
}

.testimonialImage {
  margin-bottom: 24px;
}

.nameAndPrice {
  margin-bottom: 10px;
  color: var(--dark-plum);
  font: var(--font-regular-20);
  letter-spacing: 0.4px;
}

.instagram {
  color: var(--dark-plum);
  font: var(--font-regular-20);
  text-decoration-line: underline;
}

.realTestimonial {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}

.testimonialsVideoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 32px;
}

.videoCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  padding: 30px;

  border-radius: var(--border-radius);
  border: 1px solid var(--dark-plum);
  background: var(--light-lavender);
}

.nameVideo {
  margin-bottom: 16px;
  color: var(--dark-plum);
  font: var(--font-regular-20);
  letter-spacing: 0.4px;
}

.descriptionVideo {
  margin-bottom: auto;
  text-align: center;
  color: var(--dark-plum);
  font: var(--font-semi-medium-24);
  letter-spacing: 0.48px;
}