.aboutMeTitle {
  font: var(--font-semi-bold-36);
  letter-spacing: 0.02em;
}
.aboutMeBlock {
  display: flex;
  justify-content: center;
  height: 620px;
  gap: 32px;
  margin: 40px 51px 130px 51px;
}
.aboutMeImg {
  width: 419px;
  height: 620px;
}

.aboutMeBlockText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 759px;
}

.aboutMeBlockFlex {
  display: flex;
  text-align: center;
  width: 100%;
  align-items: flex-end;
  gap: 50px;
  margin-bottom: 55px;
}
.aboutMeFlexBlock {
  display: block;
  height: 70px;
}
.aboutMeTextTop {
  font-family: var(--font-family);
  font: var(--font-regular-20);
  letter-spacing: 0.02em;
  padding-top: 24px;
}
.aboutMeTextBottom {
  font-family: var(--font-family);
  font: var(--font-regular-20);
  letter-spacing: 0.02em;
  padding-top: 16px;
}
.aboutMeTextP {
  font-family: var(--font-family);
  font: var(--font-regular-20);
  letter-spacing: 0.02em;
}

.aboutMeTextSpan {
  font: var(--font-semi-medium-24);
  letter-spacing: 0.02em;
  color: var(--black);
}
.aboutMeText {
  text-align: left;
  margin-top: 55px;
  margin-bottom: 30px;
}
.aboutMeBlockFlexTab {
  display: none;
}

/* background svg */
.aboutMeBlokBackground {
  position: relative;
  width: auto;
}
.aboutMeBackground {
  position: absolute;
  width: 858px;
  height: 858px;
  border-radius: 50%;
  filter: blur(34px);
  background: url("../../../public/background.svg") center/cover no-repeat;
  z-index: -1;
  bottom: -257px;
  right: -22px;
}

@media (max-width: 1304px) {
  .aboutMeTitle {
    font: var(--font-semi-bold-28);
  }
  .aboutMeImg {
    width: 220px;
    height: 326px;
  }
  .aboutMeTextP {
    font: var(--font-regular-16);
    padding-top: 8px;
  }
  .aboutMeTextTop {
    font: var(--font-regular-16);
  }
  .aboutMeTextBottom {
    font: var(--font-regular-16);
  }
  .aboutMeBlockText {
    width: 460px;
  }
  .aboutMeTextSpan {
    font: var(--font-semi-medium-20);
  }
  .aboutMeText {
    margin: 0;
    padding: 0;
  }

  .aboutMeBlockFlexTab {
    display: flex;
    width: 100%;
    align-items: flex-end;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 24px;

    gap: 50px;
    max-width: 641px;
  }

  .aboutMeBlock {
    height: 100%;
    margin: 0;
    margin-top: 32px;
  }
  .aboutMeBlockFlex {
    display: none !important;
  }
  .customBreak {
    display: block;
    height: 12px;
  }
}

@media (max-width: 768px) {
  .aboutMeContainer {
    display: flex;
    flex-direction: column;
  }

  .aboutMeBlockFlexTab {
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    gap: 10px;
    max-width: 340px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 70px;
  }
  .aboutMeFlexBlock {
    width: 130px;
  }

  .aboutMeBlock {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aboutMeTitle {
    font: var(--font-semi-bold-18);
  }
  .aboutMeImg {
    width: 169px;
    height: 250px;
  }
  .aboutMeTextP {
    font: var(--font-regular-14);
    padding-top: 8px;
  }
  .aboutMeTextTop {
    font: var(--font-regular-14);
  }
  .aboutMeTextBottom {
    font: var(--font-regular-14);
  }
  .aboutMeBlockText {
    max-width: 100%;
    min-width: 260px;
    justify-content: center;
  }
  .aboutMeText {
    max-width: 340px;
    margin: auto;
  }
  .aboutMeTextSpan {
    font: var(--font-semi-medium-16);
  }
  .aboutMeBackground {
    bottom: -117px;
    right: 52px;
    margin-bottom: 10px;
  }
}
